<!DOCTYPE html>
<html>
<head>
  <Meta Charset="UTF-8" />
  <Meta Http-Equiv="X-UA-Compatible" Content="IE=Edge" />
  <Meta Name="Viewport" Content="Width=Device-Width, Initial-Scale=1.0" />
  <title>ordersuccessfully</title>
  {% load static %}
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
    integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
    crossorigin="anonymous"></script>
    
    <script defer src="{% static 'js/activepage.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/os.css' %}">
  <link rel="icon" href="{% static 'image/logo.png' %}">
</head>

<header Class="Site-Header">
<div Class="Site-Identity">
    <img class="logo" src="{% static 'image/logo.png' %}" alt="logo image">
</div>
<nav Class="Site-Navigation">
    <ul Class="Nav">
        <li><a class="linkmetis" Href="home">Home</a></li>
        <li><a class="linkmetis" Href="custombuild">Custombuild</a></li>
        <li><a class="linkmetis" Href="customgamingpc">Customgamingpc</a></li>
        <li><a class="linkmetis" Href="contact">Contact</a></li>
        {% if request.session.username %}
        <li>
            <div class="dropdown">
                <button class="dropbtn">Hi, {{request.session.username}}
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="profile">My Profile</a>
                    <a href="order">My Order</a>
                    <a href="logout">logout</a>
                </div>
            </div>
        </li>
        {% else %}
        <a href="login"><input class="btnhead" type="button" value="Login"></a>
        <a href="signup"><input class="btnhead" type="button" value="SignUp"></a>
        {% endif %} 
    </ul>
</nav>
</header>
<body>
  <center>
    <div class="container">
        <div class="row">
           <div class="col-md-6 mx-auto mt-5">
              <div class="payment">
                {% if success %}
                 <div class="payment_success">
                  <h1>{{success}}</h1>
                 </div>
                 {% elif error %}
                 <div class="payment_error">
                  <h1>{{error}}</h1>
                 </div>
                 {% endif %}
                 {% if success %}
                 <div class="content">
                    <h3>Thank You.</h3>
                    <h3>Your order has been dispatch in 5 to 7 Days.</h3><br>
                    <a href="order"><input class="button1" type="button" value="Order"></a>
                    <a href="home"><input class="button1" type="button" value="Home"></a>
                 </div>  
                 {% elif error %}
                 <div class="content">
                    <h3>Please Check The Bank balance</h3>
                    <h3>Enter Card Details Properly</h3><br>
                    <a href="home"><input class="button1" type="button" value="Home"></a>
                  </div> 
                 {% endif %}             
              </div>
           </div>
        </div>
     </div>
  </center>
</body><br><br><br><br><br><br><br><br><br>
<footer>
    <div class="footer">
      <div class="contain">
      <div class="col">
        <h2>About us</h2>
        <ul>
          <li>24/7 Help Desk</li>
          <li>No Wait Times</li>
          <li>genplus@gmail.com</li>
        </ul>
      </div>
      <div class="col">
        <h2>Products</h2>
        <ul>
          <li><a class="footerlink" href="customgamingpc">Customgamingpc</a></li>
          <li><a class="footerlink" href="custombuild">Custombuild</a></li>
        </ul>
      </div>
      <div class="col">
        <h2>Contact</h2>
        <ul>
          <li>+91 9409713073</li>
          <li>+91 6353605048</li>
          <li>+91 9054009770</li>
        </ul>
      </div>
      <div class="col address">
        <h2>Address </h2>
        <ul>
          <li>Alpha Mall 2 floor,Vastarapur,Ahmedabad</li>
      </ul>
      </div>
    <div class="clearfix"></div>
    </div>
    </div>
  </footer>
</html>